#!/usr/bin/env zsh

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="${HOME}/.node_history";
# Allow 32^3 entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase zsh history size to allow 32^3 entries;
export HISTFILE="${HOME}/.zsh_history"
export HISTSIZE='32768';
export SAVEHIST="${HISTSIZE}";

# Prefer US English and use UTF-8.
export LANG='en_GB.UTF-8';
export LC_ALL='en_GB.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Disable timeout after pressing ESC in vim mode
export KEYTIMEOUT=1
